.contact {
  height: 85vh;
  padding: 20px 0;
  justify-content: center;
}

.contact h2 {
  padding: 20px 0;
  text-align: center;
  color: orangered;
  font-size: 40px;
}

form {
  width: 450px;
  height: 400px;
  margin: auto;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  display: block;
  padding: 20px 10px;
  box-shadow: 2px 2px 2px 2px grey;
}

form input {
  width: 400px;
  height: 4.5vh;
  margin: 10px 0;
  border: 1px solid #000;
  padding: 0 5px;
  border-radius: 5px;
}

form input::placeholder {
  color: orangered;
  font-size: 16px;
}

form .btn1 {
  padding: 10px 20px;
  color: #fff;
  background-color: orangered;
  font-weight: bold;
  font-size: 16px;
  transition: 0.5s all;
}

.contact .btn1:hover {
  background-color: #000;
}

.contact h5 {
  padding: 5px 0;
  color: orangered;
  font-size: 20px;
}
